html{
  scroll-behavior: smooth;
  margin: 0;
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #040404;
  color: #fff;
  position: relative;
  background: transparent;
  margin: 0;
  height: 100%;
}

body::before {
  content: "";
  position: fixed;
  background: #040404;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
}

@media screen and (max-width: 768px) {
.img-fluid{
  visibility: visible;
}
}

@media screen and (max-width: 768px) {
  .img-hov{
    visibility: visible;
  }
  }

@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #18d26e;
}

a:hover {
  color: #35e888;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.effect h8 {
  font-weight: 500;
  font-size: 20px;
  font-style: italic;
  text-decoration: underline;
  color: #33f492;
}

.effect h7{
  user-select: none;
  color: white;
  background: repeating-linear-gradient(-45deg, red 0%, yellow 7.14%, rgb(0,255,0) 14.28%,
              rgb(0,255,255) 21.4%, cyan 28.56%, blue 35.7%, magenta 42.84%, red 50%);
  background-size: 600vw 600vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 10s linear infinite forwards;
}
@keyframes slide {
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 600vw;
  }
}

.effect h3{
  user-select: none;
  color: white;
  background: repeating-linear-gradient(-45deg, crimson 0%, #33f492 50%);
  background-size: 600vw 600vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 10s linear infinite forwards;
}
@keyframes slide {
  0%{
    background-position-x: 0%;
  }
  100%{
    background-position-x: 600vw;
  }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: ease-in-out 0s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow: hidden;
}

#header * {
  transition: ease-in-out 0s;
}

#header h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

#header h1 a, #header h1 a:hover {
  color: #040404;
  line-height: 1;
  display: inline-block;
}

#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: #040404(255, 255, 255, 0.8);
}

#header h2 span {
  color: #040404;
  border-bottom: 2px solid #18d26e;
  padding-bottom: 6px;
}

#header img {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

#header .social-links {
  margin-top: 40px;
  display: flex;
}

.social-link {
  margin-top: 40px;
  display: flex;
}

#header .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #040404;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.social-link a {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #040404;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

#header .social-links a:hover {
  background: #18d26e;
}
.social-link a:hover {
  background: #18d26e;
}

@media (max-width: 992px) {
  #header h1 {
    font-size: 26px;
  }
  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }
  #header .social-links {
    margin-top: 15px;
  }
.social-link {
    margin-top: 15px;
  }
  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/*--------------------------------------------------------------
# Name spin effect
--------------------------------------------------------------*/
.waviy {
  position: relative;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 35px;
  color: #fff;
  text-transform: uppercase;
  animation: flip 2s ease-in;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}

.section-title p {
  margin: 0;
  margin: -15px 0 15px 0;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #fff;
  overflow: hidden;
  z-index: 1;
}

/*--------------------------------------------------------------
# Hover picture effect
--------------------------------------------------------------*/
.img-hov{
  filter: grayscale(1);
  transition: .4s;
}
.img-hov:hover{
  filter: none;
  scale: 1.2;
}

/*--------------------------------------------------------------
# Typing effect
--------------------------------------------------------------*/
.typing-test{
  display: grid;
  place-items: center;
}
.typing-demo{
  width: 11.3ch;
  animation: typing 1.5s steps(20), blink 0.75s step-end infinite alternate;
  overflow: hidden;
  border-right: 0.15em solid none;
  white-space: nowrap;
  font-family: monospace;
  font-size: 25px; 
  color: #848884;
}
@keyframes typing{
  from{
    width: 0;
  }
}
@keyframes blink{
  50%{
    border-color: transparent;
  }
}

.typing-test-2{
  display: grid;
  place-items: center;
}
.typing-demo-2{
  width: 14.3ch;
  animation: typing 1.5s steps(20), blink 0.75s step-end infinite alternate;
  overflow: hidden;
  border-right: 0.15em solid none;
  white-space: nowrap;
  font-family: monospace;
  font-size: 25px; 
  color: #848884;
}
@keyframes typing{
  from{
    width: 0;
  }
}
@keyframes blink{
  50%{
    border-color: transparent;
  }
}

/*--------------------------------------------------------------
# Important Links
--------------------------------------------------------------*/

.modal-content .close{
  background-color: transparent;
  border: 0;
  font-size: 30px;
  color: #35e888;
  cursor: pointer;
  position: absolute;
  right: 10px;
  border-radius: 75%;
  transition: all 0.2s ease-in;
}

.modal-content .close:hover{
  opacity: 0.5;
  background: lightgray;
}

.card {
  border-radius: 20px;
  box-shadow: 2px 5px 20px #33f492;
}

.modal-content {
  background: #040404;
  color: crimson;
  border-radius: 20px;
  box-shadow: 2px 5px 20px #33f492;
}

.modal-content h4{
  color: #33f492;
}

.mn {
  color:#fff;
}

element.style {
  display: block;
}

.modal {
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

/*--------------------------------------------------------------
# Number counter
--------------------------------------------------------------*/
.row.wrapper {
  position: absolute;
  width: 70vw;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.numbercontainer {
  width: 34vmin;
  height: 28vmin;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em 0;
  position: relative;
  font-size: 16px;
  border-radius: 10em;
  background-color: transparent;
  /*box-shadow: 2px 5px 20px #33f492;*/
  border-bottom: 10px solid #33f492;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
r {
  color: #18f98f;
  font-size: 2.5em;
  text-align: center;
}
span.num {
  color: #ffffff;
  display: grid;
  place-items: center;
  font-weight: 600;
  font-size: 3em;
}
span.text {
  color: #e0e0e0;
  font-size: 1em;
  text-align: center;
  pad: 0.7em 0;
  font-weight: 400;
  line-height: 0;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 85vw;
  }
  .numbercontainer {
    height: 26vmin;
    width: 26vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    width: 85vw;
    gap: 30px;
  }
  .numbercontainer {
    width: 30vmin;
    height: 30vmin;
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  .wrapper {
    gap: 15px;
  }
  .numbercontainer {
    width: 100%;
    height: 25vmin;
    font-size: 8px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu - Desktop Navigation
--------------------------------------------------------------*/
.nav-menu {
  margin-top: 35px;
}

.nav-menu ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu li + li {
  margin-left: 30px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.nav-menu a:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #18d26e;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 25px;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #fff;
  text-decoration: none;
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.7);
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
  border: 2px solid rgba(255, 255, 255, 0.12);
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #18d26e;
  text-decoration: none;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/* Header Top */
#header.header-top {
  height: 80px;
  left: 0;
  top: 0;
  right: 0;
  background: transparent;
}

#header.header-top .social-links, #header.header-top h2 {
  display: none;
}

#header.header-top h1 {
  margin-right: auto;
  font-size: 31px;
}

#header.header-top .container {
  display: flex;
  align-items: center;
}

#header.header-top .nav-menu {
  margin: 0;
}

@media (max-width: 768px) {
  #header.header-top {
    height: 80px;
  }
  #header.header-top h1 {
    font-size: 26px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  overflow: hidden;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0s;
  z-index: 2;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
}

section .container {
  padding: 30px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }
  section.section-show {
    top: 80px;
  }
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #4ceb95;
  margin: 4px 10px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-me .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: crimson;
}

.about-me .content ul {
  list-style: none;
  padding: 0;
}

.about-me .content ul li {
  padding-bottom: 10px;
}

.about-me .content ul i {
  font-size: 20px;
  padding-right: 2px;
  color: #18d26e;
}

.about-me .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: rgba(255, 255, 255, 0.15);
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #18d26e;
}

/*--------------------------------------------------------------
# Interests
--------------------------------------------------------------*/
.interests .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: transparent;
  transition: ease-in-out 0.3s;
}

.interests .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}

.interests .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
  color: #fff;
}

.interests .icon-box:hover {
  background: rgba(255, 255, 255, 0.12);
}

/*--------------------------------------------------------------
# Recommendations
--------------------------------------------------------------*/

#testimonials {
  background: #040404;
  border-radius: 20px;
  /* background:#2b2b2b; */
}

.revs {
  padding: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.carousel-item.active {
  border: none;
}

.card.m-3{
  text-align: center;
  border-width: 100%;
}

@media (max-width: 768px) {
  .carousel-inner {
    min-height:500px;
  }
}

@media (max-width: 709px) {
  .carousel-inner {
    min-height:300px;
  }
}

@media (max-width: 1024px) {
  .card {
    text-align: center;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
  background: #040404;
  padding:100px 0;
  box-shadow:5px 10px 25px #555;
  position:relative;
  z-index:22;
}
.cbtn {
  margin-top: 57px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer {
  background: #040404;
  /* background:#333; */
  padding: 10px;
}

.footer.container.row{
  padding-top: 0px;
}

.cpt {
  padding-top: 29px;
}

.ftaw i {
  font-size: 50px;
  color: #35e888;
  padding-top: 15px;
  padding-right: 10px;
}

.heart {
  width: 17px;
  height: 17px;
  color: #35e888;
  background: radial-gradient(circle at 60% 65%, currentColor 62%, #0000 65%)
      top left,
    radial-gradient(circle at 40% 65%, currentColor 62%, #0000 65%) top right,
    linear-gradient(to bottom left, currentColor 42%, #0000 43%) bottom left,
    linear-gradient(to bottom right, currentColor 42%, #0000 43%) bottom right;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  display:inline-block;
}

.heart:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 5;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  to {
    transform: scale(2);
    opacity: 0;
  }
}
